[2019-01-15 18:08] TremayneChrist opened #1 "Add observation of display:none toggling"
ResizeObservation should be fired when `display:none` is toggled

[2019-01-15 18:10] TremayneChrist opened #2 "Fix delayed shutdown of notifications"
Currently the delayed shutdown of notification events is broken due to removal from controller.

[2019-01-15 21:04] TremayneChrist commented on #2
fixed in `v0.3.0`

[2019-01-15 21:04] #2 closed

[2019-01-18 08:20] TremayneChrist opened #4 "Include loop detection in observation checks"

[2019-01-18 17:49] #4 closed

[2019-01-19 22:59] TremayneChrist opened #6 "Add argument checks and throw errors when incorrect arguments are passed"
Example:
[code]

[2019-01-20 10:45] TremayneChrist opened #7 "Listen to touch events to improve mobile support"
If a device supports touch events, these should be used to detect any changes

[2019-01-20 10:48] TremayneChrist opened #8 "Update to lastest specification, allowing observations on different box sizes"
https://drafts.csswg.org/resize-observer-1/

[2019-01-23 16:47] TremayneChrist opened #10 "v1"
Initial checklist for `v1.0.0` release!

**Required:**
- [x] ~~Support #1~~ (Partially Supported)
- [x] Fix #11 #12 #13
- [x] Setup ESLint (or alike)
- [x] Add license information
- [x] Clean release output (remove source).
- [x] Comment and document code where necessary.
- [x] Give feedback to users when observer is not used correctly.
- [x] Test more use cases and update tests to check all box s

[2019-01-23 16:55] #8 closed

[2019-01-24 11:18] TremayneChrist opened #11 "NaN is returned on some dimensions"
`NaN` can be returned in some entries entries. This happens when `auto` is returned from `cs.width` or `cs.height`, due to an element's display style being set to `none`.

[2019-01-24 15:39] TremayneChrist opened #12 "Observer should not fire initially if size is 0, 0"
https://drafts.csswg.org/resize-observer-1/#intro

[2019-01-24 15:40] TremayneChrist opened #13 "Observer should not fire initially if element does not have display"
https://drafts.csswg.org/resize-observer-1/#intro

[2019-01-24 16:06] griffithhj commented on #13
Tremayne please contact me regarding your lost property: info@angelcomedy.co.uk

[2019-01-24 22:31] #11 closed

[2019-01-24 22:31] #12 closed

[2019-01-24 22:31] #13 closed

[2019-01-25 09:34] TremayneChrist commented on #1
This currently works, however, this is only because size is reported as 0,0 when the element does not have display. The spec does not seem to define what size should be reported when display is set to none.

[2019-01-25 10:32] TremayneChrist opened #15 "Correctly calculate borderBoxSize when element has a scrollbar"
Currently the library calculates the `borderBoxSize` without worrying about scrollbars as there is additional cost involved when calculating scrollbar thickness.

[2019-01-25 10:34] TremayneChrist commented on #15
To improve the performance, calculations for scrollbar thickness should happen only when an element's overflow is either `scroll` or `auto`.

[2019-01-25 17:19] TremayneChrist opened #16 "Start/Stop interaction events when resize observer count changes from 0-1-0"
It's unlikely that the library will be added and not used, however, it seems pointless to have event listeners and mutation observers running, when there are no resize watchers added.

[2019-02-01 16:53] TremayneChrist opened #20 "Fails to detect transition start"
As there is limited support for `transitionstart` events, we need another way to detect when a transition has started.

I think we can catch most transitions, which do not have a delayed start time, by always checking next render.

[2019-02-01 17:02] TremayneChrist opened #21 "Create scheduler module to manage when to next perform a change detection"
Move `notify()` out of controller and create a scheduler module.

[2019-02-01 17:03] TremayneChrist commented on #20
This can be included into new scheduler module (#21).

[2019-02-05 11:27] TremayneChrist opened #26 "If parent does not have display, size is returned as NaN."
**Describe the bug**
Size returned is NaN

**To Reproduce**
Steps to reproduce the behavior:
1. Create a div with display:none
2. Append and observe a new element, inside of the div
3. The first observation returns NaN

**Expected behavior**
There should be no observation as the element has no display.

[2019-02-05 11:43] #26 closed

[2019-02-05 18:16] TremayneChrist opened #28 "No resize observations fired if animation loop is created, using requestAnimationFrame"
**Describe the bug**
No resize observations are fired

**To Reproduce**
Steps to reproduce the behavior:
1. Create an animation loop, using raf
[code]

**Expected behavior**
Resize observation should still work and notifications should be sent.

**Additional context**
This is happening because the scheduled task is always being pushed to the next frame, so no calculations will take place until the

[2019-02-06 15:43] #6 closed

[2019-02-06 15:43] #16 closed

[2019-02-06 15:43] #28 closed

[2019-02-10 15:15] TremayneChrist opened #32 "Resize loop error is fired when element is removed from DOM"
**Describe the bug**
Resize loop error is fired when element is removed from the DOM

**To Reproduce**
Steps to reproduce the behavior:
1. Observe an element
2. Remove the element from the document

**Expected behavior**
An observation should be reported and no resize loop error should be fired

[2019-02-10 15:15] #15 closed

[2019-02-10 15:36] #32 closed

[2019-02-12 14:06] TremayneChrist commented on #1
The way the library currently works actually seems to be valid and Chrome appears to be doing the same.

[2019-02-12 14:06] #1 closed

[2019-02-15 08:53] #10 closed

[2019-02-18 16:08] TremayneChrist opened #35 "devicePixelBorderBoxSize should return null on non-canvas elements"
**Describe the bug**
`devicePixelBorderBoxSize` gets reported, even on non-canvas elements.

**To Reproduce**
Steps to reproduce the behavior:
1. Observe a `HTMLDivElement`
2. Resize the div to fire the observer callback
3. `devicePixelBorderBoxSize` gets reported

**Expected behavior**
`devicePixelBorderBoxSize` should return `null`, as it's currently only for canvas elements.

[2019-02-20 11:01] TremayneChrist opened #36 "Stop listening to events if already scheduled, listen again afterwards."
If many events happen at the same time, it can impair performance. Most events do not require this additional logic, as they are from user interaction, however, animation events can me fired multiple times in the same frame and this should be handled and improved.

**Potential Fix:**
- Listen to all events.
- If any one event schedules a recalc, stop listening to all other events.
- After resize n

[2019-02-21 07:59] #36 closed

[2019-02-21 21:07] TremayneChrist commented on #35
May hold off on this until the decision is made on what information should be returned in the callback. This spec is currently being defined.

[2019-02-22 09:55] TremayneChrist opened #39 "Add compiled dist version to npm package?"
Wondering whether to add a compiled ES5 version of the library which polyfills the global `ResizeObserver` on the `window`.

This makes it easier to integrate into older projects.

Would this be helpful?

[2019-02-26 10:45] TremayneChrist opened #40 "v2"
This major version upgrade will update the library to cover the new shape of the `ResizeObserverEntry`.

[code]

**Confirmed changes:**
- [ ] Remove `scrollBox` support.
- [ ] Remove `devicePixelBorderBox` support.
- [ ] Return null for unobserved boxes.
- [ ] Rename `borderBoxSize` to `borderBox`.
- [ ] Rename `contentSize` to `contentBox`.
- [ ] Rename `inlineSize` to `inline`.
- [ ] Rename `blo

[2019-02-26 10:47] TremayneChrist commented on #35
This looks to be removed in the latest version of `ResizeObserverEntry` spec and will be removed in v2 (#40)

[2019-02-26 19:57] TremayneChrist commented on #40
Closing as this can be followed in #41

[2019-02-26 19:57] #40 closed

[2019-03-08 11:47] marval2 commented on #39
Hey, nice work on this! I stumbled upon ResizeObserver and your polyfill just recently. Planning on using it to detect element height changes.

I'd say yes, add to npm packages.

[2019-03-08 16:12] TremayneChrist commented on #39
Hey @marval2, thanks, that's great to hear!

It's good to have your input on this. Currently I have concerns over polyfilling the global scope as it becomes too easy to just throw it in and forget about it. This means the native RO could be overridden, even when it's available to use. Saying that, I'm still leaning towards adding it in. I also think it's required and there are still options to onl

[2019-03-08 17:55] TremayneChrist commented on #39
Some options for output directory name...

**dir:** `dist`, `global`, `polyfill`, `compiled`, `bundled`, `es5`.
[code]

[2019-03-09 13:02] marval2 commented on #39
I'd say add it in, it won't hurt and as you said there are other options to load. My vote goes for dist

[2019-03-18 16:02] TremayneChrist opened #42 "Improve Shadow DOM support for Web Components"
Currently the library only listens to mutations on the main document level. This means that any **non-user actioned** DOM changes inside a shadow root will not be noticed.

Most of the time this will not be an issue, as user interaction is usually the main cause for resizing to take place. That being said, there are some circumstances where this will cause issues.

[2019-03-28 16:02] TremayneChrist opened #43 "Transitions are not causing notifications to be fired in some instances"
**Describe the bug**
On occasions, notifications are not being sent when a transition starts to change an elements dimensions.

**To Reproduce**
Steps to reproduce the behavior:
1. Have an element which transitions its width on active state
2. Click on element with transition
3. Depending on how quickly the transition changes the dimensions, depend on whether notifications are sent or not.

**Expe

[2019-04-10 09:24] #43 closed

[2019-04-11 13:01] TremayneChrist opened #45 "Add browserlist to enable transpilation from bundlers"
Adding a browserlist configuration file will enable transpilation in packagers such as Parcel, enabling easier use in older browsers.

[2019-04-11 13:22] TremayneChrist opened #46 "Trigger recalculation when print action occurs"
Print (<kbd>CMD+P</kbd>) should recalculate dimensions on elements, as they are likely to resize and may need some programmatic adjustment.

[2019-04-11 13:29] TremayneChrist commented on #45
In lib output folder:
[code]

In dist output folder:
[code]

[2019-04-17 22:23] JabX commented on #39
Just found out about the whole ResizeObserver thing and your polyfill, I tried it and it's great, definitely gonna use it in the near future.

I was a bit surprised to see that IE11 is supported while there isn't any ES5 version of the library shipped with the package (got a syntax error while loading my app on IE, that was weird). Anyway, unless there is some feature that depends on ES2015 (and s

[2019-04-18 08:54] TremayneChrist opened #47 "Improve documentation for IE usage"
Currently there is no documentation for using the polyfill in IE.

Add documentation for:
- Webpack
- Parcel
- Other?

[2019-04-18 09:04] TremayneChrist commented on #39
Hey @JabX, that's great!

I agree that the configuration to get it working in IE isn't the easiest and should be documented better (#47). The reason for not releasing in ES5 is because the library becomes bloated and slower in browsers which support ES2015. It's also nicer to import ES modules in modern code, so I'd like to keep the library this way.

The "dist" version would be a quick-win drop a

[2019-04-18 14:21] NicolasNarvaez opened #48 "Doesn't work on percentage-sized svg elements"
On an svg with percentage width it wont trigger after normal resize by the resize of the surrounding elements. I didnt test if it works on other kinds of css width or height definition.

I imagine the svg elements are taken into account on the api but im not sure if im missing something.

[2019-04-18 17:12] JabX commented on #39
You could still target ES5 but with ESNext modules, this is what I usually do when building libraries, as it keeps all the module benefits while not requiring any particular packaging config on the customer side.

[2019-04-19 12:46] TremayneChrist commented on #48
Hey @NicolasNarvaes can you confirm if it works, using Chrome's native ResizeObserver?

SVGs work a bit differently, compared to other elements. Maybe you could provide a sample to look at?

[2019-06-12 09:14] mvsde opened #51 "Missing lib in release 2.0.1"
**Describe the bug**
The latest release 2.0.1 has no lib folder with build artifacts (https://unpkg.com/@juggle/resize-observer@2.0.1/lib/ResizeObserver.js).

The previous 2.0.0 release works correctly (https://unpkg.com/@juggle/resize-observer@2.0.0/lib/ResizeObserver.js).

**To Reproduce**
Steps to reproduce the behavior:
1. `npm i @juggle/resize-observer`
2. `import ResizeObserver from '@juggle

[2019-06-12 09:25] TremayneChrist commented on #51
Oh! Thanks @mvsde will fix this ASAP!

[2019-06-12 09:34] TremayneChrist commented on #51
All fixed. Now need to figure out why this happened 🤔

[2019-06-12 09:34] #51 closed

[2019-06-12 09:56] TremayneChrist commented on #48
Hi @NicolasNarvaez is this still a problem for you?

[2019-06-13 06:21] #35 closed

[2019-06-17 11:27] TremayneChrist commented on #48
Closing this, but feel free to open again if you're still having problems.

[2019-06-17 11:27] #48 closed

[2019-06-25 16:49] TremayneChrist opened #55 "Writing modes are not handled"
When writing mode changes, the box algorithm should use the correct value for both `inlineSize` and `blockSize`. Chrome currently has the same bug which can be found [here](https://bugs.chromium.org/p/chromium/issues/detail?id=959008).

Demo: https://jsfiddle.net/dholbert/ce094nxj/

[code]

[2019-06-25 17:05] TremayneChrist commented on #39
I think supplying a UMD module alongside an ESM module, could help to fix this issue. I don't think releasing a distributed bundle is the right way to go.

**UMD:**
- Module would be transpiled to ES5 for easy import
- Works in browsers and bundlers

**ESM:**
- Version is future proof
- Works in recent versions of bundlers
- Allows for modern CDNs like [Pika](https://www.pika.dev/packages/@juggle/

[2019-06-25 17:09] TremayneChrist commented on #47
Closing as documentation shouldn't be the answer. Instead this approach should be looked at https://github.com/juggle/resize-observer/issues/39#issuecomment-505534790.

[2019-06-25 17:09] #47 closed

[2019-06-25 17:11] TremayneChrist commented on #45
Parcel looks to be changing its approach and maybe providing the correct modules could work better.

https://github.com/juggle/resize-observer/issues/39#issuecomment-505534790

[2019-06-25 17:11] #45 closed

[2019-06-25 17:15] TremayneChrist commented on #46
Struggling to find a cross-browser solution to trigger the event at the right time. Can get it working in Chrome using <kbd>CTRL/CMD</kbd>+<kbd>P</kbd>, however `window.print()` works differently.

Notifications in other browsers don't seem to be fired at the correct point in time for print rendering.

[2019-07-01 21:22] alejandroiglesias commented on #39
I just tried to use the library in our Meteor project and it fails because Meteor only transpiles app code, not libraries. It's the only library I've had this issue with. I suggest releasing a `dist/` directory on npm with the ES5 version and point the `main` key of the `package.json` file to this path (you can keep the `module` key as is). You can use UMD for this so that it can still be require'

[2019-07-02 09:47] TremayneChrist commented on #39
Thanks @alejandroiglesias and sorry it's not currently working for you.

I just realised my previous comment was a bit confusing, so I've reworded it a bit. The plan is pretty much exactly as you said, to keep the current `module` field pointing towards the ESM entrypoint and then change the `main` field to point to the UMD entrypoint.

There is NO plan to add a drop-in dist package, which always

[2019-07-02 09:53] TremayneChrist commented on #39
To be clear the `package.json` will be updated to:

[code]

[2019-07-02 21:08] TremayneChrist opened #57 "wpt fail - inline elements must NOT notify."
Currently fails web platform test:
https://github.com/web-platform-tests/wpt/blob/master/resize-observer/notify.html#L195

[2019-07-02 21:10] TremayneChrist opened #58 "wpt fail: callback.this should be ResizeObserver"
Currently failing web platform test:
https://github.com/web-platform-tests/wpt/blob/master/resize-observer/observe.html#L200

[2019-07-02 21:17] TremayneChrist opened #59 "wpt fail: writing-modes"
Currently failing web platform tests:
https://github.com/web-platform-tests/wpt/blob/master/resize-observer/observe.html#L424
https://github.com/web-platform-tests/wpt/blob/master/resize-observer/observe.html#L482
https://github.com/web-platform-tests/wpt/blob/master/resize-observer/observe.html#L523

When writing mode changes, the box algorithm should use the correct value for both `inlineSize` a

[2019-07-02 21:18] TremayneChrist opened #60 "wpt fail: observing with new box option should override"
Currently failing web platform test:
https://github.com/web-platform-tests/wpt/blob/master/resize-observer/observe.html#L568

[2019-07-02 21:20] TremayneChrist commented on #55
Duplicate of #59

[2019-07-02 21:20] #55 closed

[2019-07-03 12:55] TremayneChrist commented on #57
To be clear, **non-replaced inline elements** should NOT notify.

Replaced elements include:

- embed
- video
- iframe
- canvas
- object
- audio
- img
- input[type=image]

A non-replaced inline element switching to a non-inline element should notify.

[code]
[code]

[2019-07-03 12:56] TremayneChrist commented on #59
IE naming is different, so need to handle this.

[2019-07-03 12:57] TremayneChrist commented on #60
Currently the library ignores any new observation on the same element, however, this needs to change and it should update the box option accordingly.

[2019-07-03 19:59] #58 closed

[2019-07-03 20:38] #57 closed

[2019-07-03 21:28] TremayneChrist commented on #39
@marval2 @JabX @alejandroiglesias

Ok, so actually playing around with this in different bundlers and real-life situations -> umd is basically a pain in some instances and isn't really needed anyway. Must have being 😴 when looking at this before.

@JabX after some ☕️ I'm thinking of using your idea 👍

Would love some feedback on the PR for this #63

Thanks!

[2019-07-05 08:01] TremayneChrist opened #64 "IE9 IE10 support?"
This is here to gather feedback on the need for this. Please comment below :point_down:

[2019-07-08 10:39] TremayneChrist commented on #46
Also this doesn't help https://bugzilla.mozilla.org/show_bug.cgi?id=774398

[2019-07-08 10:45] TremayneChrist commented on #46
Seems the solution for printing is to create an already styled page to print from, which is like what gmail, outlook and many other sites do.

Using `matchMedia` or `onbeforeprint` just isn't good enough, as it doesn't work in every browser and results are unreliable.

[2019-07-10 08:40] TremayneChrist opened #67 "wpt fail: ro.toString() should be [object ResizeObserver]"

[2019-07-10 08:48] TremayneChrist opened #68 "wpt fail: observer methods should be enumerable"
Currently the methods on the object are not set to be enumerable and the following code will print nothing.
[code]

[2019-07-10 20:36] #59 closed

[2019-07-10 20:41] #39 closed

[2019-07-15 09:40] TremayneChrist commented on #39
`v2.2.0` is now published in ES5

[2019-07-16 09:20] TremayneChrist opened #72 "Change interaction of svg elements with css layout boxes"
The spec looks to be changing in regards to svg root elements. If they themselves create a css layout box, they should be included in the standard observation strategy.

https://github.com/w3c/csswg-drafts/issues/4032
https://github.com/w3c/svgwg/issues/713

[2019-07-30 12:22] MurhafSousli opened #73 "Server side rendering support"
**Describe the bug**

The package causes the build system to crash when used in server-side rendering app

**To Reproduce**

Cannot be reproduced in an online platform, but try to include the package in any server-side rendering environment

**Expected behavior**

Should support server-side rendering

---

The error thrown by the compiler:
[code]

[2019-07-30 13:06] TremayneChrist commented on #73
Hey @MurhafSousli,

So removing the reference of `window` here fixes it for you? I take it the other references to `window` aren't an issue, because this part of the code isn't called until it hits the client-side.

[2019-07-30 14:30] TremayneChrist commented on #73
Ok I've checked out your repo. I get it :)

[2019-07-30 15:15] MurhafSousli commented on #73
Hi @TremayneChrist, no it is not a plain node, I am using to do a recalculation and update the UI for a custom scrollbar library that supports SSR. https://github.com/MurhafSousli/ngx-scrollbar

[2019-07-31 12:29] #73 closed

[2019-07-31 12:37] TremayneChrist commented on #73
@MurhafSousli can you try version `2.3.0`.

[2019-08-01 08:14] TremayneChrist commented on #73
I've tested this in some different environments and all seems ok. If you're still having problems, feel free to reopen. Thanks!

[2019-08-15 01:44] vipcxj commented on #64
If this library support ie 9/10, I will change resize-observer-polyfill to this library.

[2019-08-18 07:24] MurhafSousli commented on #73
Seems to be working fine, thanks a lot!

[2019-08-21 17:57] TremayneChrist opened #75 "Use MicroTask to fire ResizeObserver callbacks"
Currently this library modifys the native RAF to make sure that ResizeObserver callbacks are executed at the very end of the frame. Instead of this, it would be good to use a MicroTask to schedule the last RAF in the chain. This will prevent merging all callbacks into one RAF and will keep it inline with the native implementation.

A side effect of this, is that any other RAF which is also schedul

[2019-08-28 18:07] TremayneChrist commented on #75
Another positive from this, is that it should reduce module size quite a bit.

[2019-08-30 15:29] tobireif opened #76 "ResizeObserver.min.js"
It would be great to have a .min.js file in every release, so that it can be used in the extremely simple way of doing nothing but `<script src="ResizeObserver.min.js"></script>`.

[2019-08-30 15:34] tobireif commented on #76
(For now I'll try https://www.jsdelivr.com/package/npm/@juggle/resize-observer
-> https://cdn.jsdelivr.net/npm/@juggle/resize-observer@2.3.0/lib/ResizeObserver.min.js )

[2019-09-03 13:36] TremayneChrist commented on #76
Hi @tobireif,

Thanks for your idea. This has kind of been covered in #39 and the decision was to not provide a 'dist' version. This library is built as a ponyfill, so it should never modify the global (window) object. Creating a version like this would be conflicting.

[2019-09-03 14:11] TremayneChrist commented on #76
You can always use the library via a CDN, although you'll need to cover multiple browsers..

[code]

[2019-09-03 14:34] TremayneChrist commented on #76
Actually you can always use require, by forcing the UDM bundle..

[code]

[2019-09-16 15:41] TremayneChrist opened #78 "Add "types" field to package.json"
Improve TypeScript support by adding `types` field to `package.json`.

[2019-09-19 09:19] tobireif commented on #76
Thanks!

Currently I'm using the lib from https://github.com/que-etc/resize-observer-polyfill (minus throttling).

[2019-09-24 07:24] mikhalovich opened #79 ""TypeError: Invalid calling object" in IE11"
**Describe the bug**
In IE11 I have a problem with "TypeError: Invalid calling object" in the console. In other browsers (Chrome, Firefox, Safari) everything works correctly.

[code]

**Sample Code**
Please fork this [Debug Template](https://codesandbox.io/s/qv5jpo0xlj) and help identify the issue.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser IE11
 - Versi

[2019-09-24 08:48] TremayneChrist commented on #79
Hi @mikhalovich could you show more of the Vue context. A small sample would be even better!

[2019-09-25 06:12] mikhalovich commented on #79
@TremayneChrist shure.
Actually I use [element-resize-detector](https://github.com/wnr/element-resize-detector), but it is very big package and I found your module. It is cool and work in all browsers that I need except IE11.

So, my script now looks like this:
[code]

changeScreenSize action:
[code]

[2019-10-02 20:38] TremayneChrist commented on #79
Hi @mikhalovich could you send me a reproducible repo to look at? It's hard to see where it could be erroring from this.

[2019-10-08 05:10] chenxinyanc opened #80 "RAF polyfill interferes with Angular Zone"
**Describe the bug**
I'm using this package as a polyfill for `window.ResizeObserver` when the native one is not available. However, this package will *unconditionally* override the global RAF callback, which may conflict with the RAF override provided in [Angular zone.js](https://github.com/angular/angular/tree/master/packages/zone.js) package, causing the loss of zone information.

The underlyin

[2019-10-08 09:59] TremayneChrist commented on #80
Hi @chenxinyanc thanks for your detailed report!
The next version will remove this. You can see the WIP here #77.

I'll try and get this moving again, so that it'll fix this for you :)

[2019-10-23 11:01] msbasanth opened #81 "Too many change detection triggered when we use ResizeObserver inside a polymer webcomponent placed in an Angular application"
**Describe the bug**
Too many change detection triggered when we use ResizeObserver inside a polymer webcomponent placed in an Angular application. At the same time if we are not using ResizeObserver Angular change detection's number is very few.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an Angular application
2. Add a polymer webcomponent dropdown
3. Add a ResizeObserve instanc

[2019-10-23 14:47] TremayneChrist commented on #81
Hi @msbasanth,
Can you create a sample repo for me to look at?

[2019-10-24 08:22] TremayneChrist commented on #79
Hi @mikhalovich, I'm having a hard time trying to pinpoint this error. Are you performing any transpilation process, or, adding any other polyfills?

[2019-10-25 10:21] TremayneChrist commented on #81
Hi @msbasanth,

It would be good to get some more information on this. Could you tell me the angular version that you're using and also what polymer element you are adding the ResizeObserver on.

Maybe you could show something in CodeSandbox?
https://codesandbox.io/s/angular

[2019-10-25 10:28] msbasanth commented on #81
Sorry for the late reply. I will be back in office on Tuesday and will
update you with a sample.

Regards
Basanth

On Fri, 25 Oct 2019 at 3:51 PM, Tremayne Christ <notifications@github.com>
wrote:

[2019-10-26 17:35] #75 closed

[2019-10-26 22:16] TremayneChrist commented on #80
Fixed in v2.4.0

[2019-10-26 22:16] #80 closed

[2019-10-27 09:11] TremayneChrist commented on #79
Closing this issue, as I don't feel it's linked to this library. Feel free to reopen @mikhalovich if you want to carry on the discussion.

[2019-10-27 09:11] #79 closed

[2019-10-30 20:07] #46 closed

[2019-11-01 09:17] leon opened #82 "nrwl nx and jest causes SyntaxError: Cannot use import statement outside a module"
**Describe the bug**
I'm using nrwl/nx and jest to build my angular app.
I want to use @juggle/resize-observer in the project.
It works great when developing and in production,
but jest doesn't seem to like the library.

When running my tests I get

[code]

I know this isn't your problem, it's a jest problem, but I thought that I won't be the only one getting this error, so I thought we could try

[2019-11-04 15:51] TremayneChrist commented on #64
Tested working when these fixes are implemented 🎉

| Unsupported Feature | Introduced | Fix for IE9+ |
|---|---|---|
| Map | IE11 | Polyfill the map API internally, or, request that a Map polyfill is included. |
| MutationObserver | IE11 | Fallback to [MutationEvents](https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Mutation_events). |
| requestAnimationFrame | IE10 | Fallback to setTimeo

[2019-11-04 15:51] TremayneChrist commented on #82
Thanks @leon I'll have a think about this.

[2019-11-04 20:57] TremayneChrist commented on #64
I may put a draft of this together, but I'm worried about bloating the bundle too much. Will have a think about some options.

[2019-11-07 08:59] TomOne commented on #82
This issue also happens whenever this library is used with SSR as Node.js doesn’t support ES2015 imports.

[2019-11-13 00:51] justwright commented on #82
As a temporary workaround, you can add the following to your jest config:

`transformIgnorePatterns: ['/node_modules/(?!@juggle/resize-observer)']`

https://jestjs.io/docs/en/configuration#transformignorepatterns-array-string

[2019-11-14 18:12] ksmithut commented on #82
If you're using create-react-app, you can't set the "transformIgnorePatterns" option unless you eject

[2019-11-19 13:52] leon commented on #82
@TremayneChrist Where you able to find a way to get this to work?

[2019-11-19 18:10] tom-s commented on #82
I have the same issue with SSR. Any plan to release an es5 version ?

[2019-11-19 20:48] TremayneChrist commented on #82
So to get this to work there needs to be a UMD build supplied as the main entrypoint and then keep the ESM build for the module entrypoint.

In theory, it should be safe to just replace the main entrypoint -  If anyone has any concerns about this, I can push it into a major release.

[2019-11-19 21:02] TremayneChrist commented on #81
Hey @msbasanth I'm going to close this for now as I cannot reproduce the issue. Feel free to reopen with a sample I can look at.

[2019-11-19 21:02] #81 closed

[2019-11-20 11:34] TremayneChrist commented on #82
So there's a problem with this, as the library currently outputs both default and named exports. This means that there would be inconsistencies between the ESM and UMD builds, when importing the module.

Trying to see if there is a better solution as this would require a major release and for default exports to be removed.

[2019-11-23 10:14] TremayneChrist opened #84 "Update ResizeObserverEntry for future fragment support"
The `ResizeObserverEntry` should return an array of fragment sizes.

[code]

https://github.com/w3c/csswg-drafts/issues/3673

This will be a breaking change and will need to be pushed to the next major release.

[2019-11-23 10:19] TremayneChrist opened #85 "Support latest box option: device-pixel-content-box"
Add support for observing a new box size option, `device-pixel-content-box`.

[code]

https://github.com/w3c/csswg-drafts/issues/3554

[2019-11-30 11:11] #78 closed

[2019-12-05 05:02] Mike-Dax commented on #82
It would be considered bad style to mix both named and default exports.

commonjs only has the single `exports` object, there's no default export other than directly setting `exports` to `ResizeObserver`.

This library doesn't work currently for people that aren't using a bundler consuming your ESM.

If you wanted you could export both in a named exports mode. The bundler would see the `__esModule

[2019-12-05 05:20] Mike-Dax opened #88 "Source Key in package.json"
I've never seen a "source" key in a package.json before.

What is the intent behind that, given that sources aren't being distributed in the npm package?

[2019-12-05 21:58] TremayneChrist commented on #88
Hi @Mike-Dax I've recently removed this for v3. It was for some bundler if I remember correctly.

[2019-12-05 23:57] #88 closed

[2019-12-08 12:37] TremayneChrist commented on #82
Thanks @Mike-Dax I think it's best to push these changes into the next major version, based on the comments in the PR. The mix of default and named came from keeping backwards compatibility.

Now trialing support in a prerelease version with named-only exports, if anyone fancies giving it a try.
[code]
https://github.com/juggle/resize-observer/releases/tag/v3.0.0-0

[2019-12-12 15:44] drcmda commented on #82
is `next` safe to use? i am using the module in a lib of mine [react-use-measure](https://github.com/react-spring/react-use-measure), which is then used by bigger projects with a bit of a user-base, i'm catching complaints from ssr users atm.

[2019-12-12 23:26] TremayneChrist commented on #82
3.0.0-0 should be safe to use but please fix the version. Other prereleases will be released over the next few days which could include changes to `contentBoxSize`, `borderBoxSize` and `devicePixelContentBox' outputs. `contentRect` will not change.

[2019-12-13 11:27] drcmda commented on #82
maybe you're the right person to ask now that you mention it, we use none of this, because contentRect gives wrong data in nested situations, see: https://github.com/react-spring/react-use-measure we basically just need the trigger. do you know anything about this? i really wonder how the spec can be so shortsighted that the smallest little scroll area basically makes all values invalid. or does t

[2019-12-13 12:51] TremayneChrist commented on #82
`contentRect` only gives the position of the `content-box` relative to the element you're observing. It's also been deprecated in the specification, which is probably down to it having no real value and also because RO is an API for dimensions, rather than positions. Getting the actual position of an element relative to the document, without going through the tree, I think is still only possible w

[2019-12-29 17:10] isBatak opened #91 "`SyntaxError: Unexpected token {` on SSR (Next.js)"
**Describe the bug**
[react-three-fiber](https://github.com/react-spring/react-three-fiber) is using this lib and I'm trying to use it with next.js.
I'm getting this error
[code]
which you can see in the code sandbox example below.

**To Reproduce**
Here is code sandbox reproduction https://codesandbox.io/s/resize-observer-issue-98jp2

**Expected behavior**
Should work without error.

**Frameworks

[2019-12-30 11:21] TremayneChrist commented on #91
Hi @isBatak, yeah this is the same issue which is causing #82. There's a [pre-release](https://github.com/juggle/resize-observer/releases/tag/v3.0.0-0) version which fixes this. I've updated your sample as a test https://codesandbox.io/s/resize-observer-issue-55mch

[2019-12-31 14:14] TremayneChrist commented on #72
Included as part of #87

[2019-12-31 14:14] #72 closed

[2019-12-31 14:24] #84 closed

[2019-12-31 14:24] #85 closed

[2019-12-31 14:25] #91 closed

[2020-01-02 08:02] TremayneChrist commented on #82
Fixed in v3.0.0

[2020-01-02 08:02] #82 closed

[2020-01-02 13:56] TremayneChrist opened #92 "Improve device-pixel-content-box notifications when switching resolutions"
When a window is dragged across screens with different resolutions, no notification is fired when observing `device-pixel-content-box`. To improve this, use `matchMedia` API to watch for resolution changes.

[code]

[2020-01-02 16:41] TremayneChrist commented on #92
IE only supports `dpi` values, so will have to add in some extra fluff for this.
[code]
Something like this could work, although I'm unsure if screen densities are always based off of 96dpi in browserland.

[2020-01-10 06:13] austinw-fineart opened #94 "rollup.js warns about circular dependencies"
**Describe the bug**
[code]

**To Reproduce**
Simply import @juggle/resize-observer in a rollup.js project.

**Frameworks/Libraries used**
 - rollup: 1.29.0

**Desktop (please complete the following information):**
 - OS: windows
 - Browser: chrome
 - Version: 79

[2020-01-10 08:05] TremayneChrist commented on #94
Hi @austinw-fineart this should have been fixed in v3. It sounds like you're probably using an older version.

[2020-01-10 09:39] austinw-fineart commented on #94
Oh nice! And yeah, I was still on 2.5.0, sorry about that!

[2020-01-10 09:39] #94 closed

[2020-01-22 06:47] TremayneChrist commented on #42
This could be implemented by collecting a list of observable documents, rather than just listening to events on the main document.

[2020-01-28 13:46] bobOnGitHub opened #95 "import question"
Ok , this is a general web dev question but it arises from your (standard) packaging process and I can't find an answer anywhere else and no responses on [stackoverflow ](https://stackoverflow.com/q/59948493/4779501) yet. In short, how does the browser handle being given a directory in the import statement as in

`import { ResizeObserver } from '@juggle/resize-observer';`

Chrome sends a request f

[2020-01-28 17:48] TremayneChrist commented on #95
You need module resolution for this to load. Easiest way for modern browsers is to use a CDN or a new tool like [Snowpack](https ://github.com/pikapkg/snowpack). Other options are bundlers like webpack or parcel.

CDN example:
[code]

[2020-01-28 18:40] bobOnGitHub commented on #95
Cheers. That's what I thought.

( gonna leave the stackoverflow question up  - maybe someone'll add a link to some doc on where it all began/was agreed etc...... )

[2020-01-28 18:40] #95 closed

[2020-01-30 07:33] TremayneChrist commented on #92
_Source: [w3schools](https://www.w3schools.com/cssref/css_units.asp)_

Therefore everything is based of off 96dpi and can use the above solution.

[2020-01-31 12:14] spb-web commented on #42
https://github.com/clauderic/resize-observer/commit/2e94a3f912306d6fc6820e682084e671f4858260

[2020-02-13 10:13] TremayneChrist opened #96 "Update readme to point to public working draft"
https://www.w3.org/TR/resize-observer-1/

[2020-02-19 08:24] minhtranite opened #97 "It throw error if target element inside a iframe on Chrome"
**Describe the bug**
If we try observe an element inside iframe it will throw an error:

[code]

It because when you check `target instanceof Element` it return `false`. The reason are explained here: https://stackoverflow.com/questions/52222237/instanceof-fails-in-iframe

We can try other way to check target is an element like:  https://stackoverflow.com/questions/384286/how-do-you-check-if-a-jav

[2020-02-19 16:58] TremayneChrist commented on #97
Hey @minhtranite thanks for the info. Looks easy enough to sort. Will look into it!

[2020-02-28 20:41] #97 closed

[2020-02-29 22:29] bobOnGitHub commented on #95
@TremayneChrist sorry to bother you again but how did you come to know about server "module resolution" ? ( I can't find anything on it / am looking for documentation/specifications )

[2020-02-29 23:07] TremayneChrist commented on #95
So it's actually Node Module Resolution https://nodejs.org/api/modules.html#modules_all_together.

Bundler implementations are based on this.

[2020-03-02 12:59] bobOnGitHub commented on #95
Cheers for that Tremayne.,
I had just assumed it was based on a general web spec (W3C). Using Snowpack now anyway.
thanks again.

[2020-03-02 17:08] TremayneChrist commented on #97
This has another issue where the document has no listeners for observation, so the observation is only noticed when the scheduler is run in the main document. This could also be fixed with changes from #42

[2020-03-02 17:21] TremayneChrist commented on #97
@minhtranite as a workaround for now, you can propagate the events to the parent window. It's pretty nasty, but will get it working 😬

Here is an example based on your sample

[code]

[2020-03-04 14:12] TremayneChrist opened #100 "Refactor to reduce bundle size"
Supporting added ResizeObserver features and improving the library, has increased the bundle size. As the specification is now at a stable state, it could be a good time to refactor and streamline the code.

**Size:** 2.8KB, minified and gzipped.
**Goal:** <=2.5KB, minified and gzipped.

https://bundlephobia.com/result?p=@juggle/resize-observer

[2020-03-04 14:21] TremayneChrist commented on #100
Would also be happy with staying around 2.8KB with all the additional features for v4.

[2020-03-04 14:25] TremayneChrist commented on #96
Also need to point all code references to this specification.

[2020-04-06 22:56] tommedema opened #103 "ResizeObserver loop completed with undelivered notifications"
**Describe the bug**
We keep seeing thousands of these logs in our sentry bug tracker. It occurs in the window.onerror event listener:

[code]

**Frameworks/Libraries used**
React 16.9.0

I'm using it in a hook `useResizeObserver.ts`:

[code]

**Smartphone (please complete the following information):**
E.g. one case

 - Device: iPhone
 - OS: iOS 13.4
 - Browser: Chrome Mobile iOS
 - Version: 80.0.

[2020-04-07 07:22] TremayneChrist commented on #103
Hi @tommedema this in an inbuilt feature to prevent infinite resize loops that will chrash the browser https://github.com/juggle/resize-observer/blob/master/README.md#resize-loop-detection

This happens when an observed element is resized again during a notification. This can easily happen when scrollbars appear, for example.

[2020-04-07 07:24] tommedema commented on #103
I understand but how do you catch it so that it doesn’t show in onerror?

[2020-04-07 07:27] TremayneChrist commented on #103
It's part of the specification to fire an error event so that the issue can be resolved, not hidden. This will also happen with the native ResizeObserver, packaged in modern browsers.

[2020-04-07 07:34] tommedema commented on #103
I see but is there a way to avoid this error from being dispatched on the
window? That’s what’s causing it to show up in sentry

On Tue, Apr 7, 2020 at 00:27 Tremayne Christ <notifications@github.com>
wrote:

[2020-04-07 16:05] TremayneChrist commented on #103
No, it's designed to be dispatched this way. You are receiving the error, because there is a genuine error - a resize loop.

I'm not sure what your size hook is doing, but, I see you are rounding values and then setting the rounded value back. If this is in the same loop as the resize notification, it will cause another resize on the element, because `254.4 !== 254`.

Why do you need to round valu

[2020-04-07 18:02] tommedema commented on #103
I could remove it, but the returned value does not cause it to resize, it is a read only value that is just used to position other elements.

I am looking for a way to catch this error and silently ignore it

[2020-04-08 13:24] TremayneChrist commented on #103
Positioning other elements can cause the element you're observing to resize still. Maybe this is the case for your application? I personally think it's unwise to silence the error. Like I said before, it's happening for a reason and could be affecting your users. Something like this could be happening on certain screen sizes --> https://codesandbox.io/s/fast-shadow-9iw35

I'll close this issue tho

[2020-04-08 13:24] #103 closed

[2020-04-09 03:19] tommedema commented on #103
I understand, but as mentioned I'm not changing the width of elements like you are doing in your codesandbox.

[2020-04-09 13:35] TremayneChrist commented on #103
The sandbox was more of an example of what a user could see happening. This same issue can happen when other elements cause the observed element to resize. Also, like I said before, scrollbars appearing can also cause resize loops, if not handled correctly.

[2020-04-10 02:45] tommedema commented on #103
Since I only need the event to fire once for each update, and not have an update cause an update, is there a way to programatically have it not "trickle down"?

I tried adding an event listener like so:

[code]

so reproduce the issue and fix it, but I cannot reproduce it. My users are getting it though...

[2020-04-13 10:39] TremayneChrist commented on #103
You may have to look at what users are bumping into this and see if there are any patterns between them.

- Are the screen sizes the same?
- Pages the same?
- Browsers the same?
etc.

Then you can try to reproduce it locally.

[2020-04-13 10:58] TremayneChrist commented on #103
If you really want to filter it out though, you can use Sentry's filtering...
https://docs.sentry.io/error-reporting/configuration/filtering/?platform=javascript

[2020-05-20 22:08] JMStewart opened #104 ".disconnect() breaks additional observe calls"
**Describe the bug**
When I call `.disconnect()` on an observer, it prevents the observer from being used again. It won't throw any errors, but the resize events will not fire for anything added after calling disconnect.
The native implementation just clears the current list of observe targets, but then you can start observing again with the same instance. So I can use disconnect to clear all curr

[2020-05-25 07:52] nicooprat opened #105 "Using this polyfill with polyfill.io"
Many thanks for this polyfill that worked a lot better than https://github.com/que-etc/resize-observer-polyfill!

I suggested to use this polyfill in Financial Times' polyfill.io service instead of an old one:

* Is it OK with you?
* [Some tests seem to fail](https://github.com/Financial-Times/polyfill-library/pull/644#issuecomment-632890850), would you mind to take a look?

[code]

Here's the PR

[2020-05-26 12:34] TremayneChrist commented on #105
Hi @nicooprat,

Really appreciate you trying to get this into polyfil.io and I'm glad it's working well for you!

I'll take a look into the tests and see what I can do.

[2020-05-26 12:47] TremayneChrist commented on #104
Hi @JMStewart,

I seem to have originally overlooked the details of the disconnect API. Unfortunately it's not a super simple fix, so it may take a bit of time testing before I can publish a release. Hopefully I can get it done this week though.

[2020-05-30 09:29] TremayneChrist commented on #105
I'll have to fire up an instance of Safari 9.1 to debug this properly. Looking at the code I'm not sure how this is even possible, especially as the other tests for multiple observes appear to be working fine.

[2020-05-31 15:33] TremayneChrist commented on #105
@nicooprat the dependencies required for the polyfill have changed recently and therefore they will need to be updated in the PR for polyfill.io.

`Map` → `WeakMap`

Also the tests will have to change slightly as this polyfill didn't follow the spec correctly for the `disconnect` API. You can see the issue here (#104).

https://github.com/juggle/resize-observer/releases/tag/v3.2.0

[2020-05-31 15:40] #104 closed

[2020-05-31 20:13] TremayneChrist commented on #105
I cannot seem to reproduce the error in Safari 9.1. I only see the callback being fired once.

[code]

[2020-06-01 11:36] TremayneChrist commented on #64
To support IE9/10, using v3.2.0 and above, you'll need to include these additional polyfills:

| Additional Polyfill | Required for |
|---|---|
| WeakMap | IE9, IE10 |
| MutationObserver | IE9, IE10 |
| devicePixelRatio | IE9, IE10 |
| requestAnimationFrame | IE9 |

I'll move this information to the readme at some point.

[2020-06-01 11:58] TremayneChrist commented on #64
Will also add improvements so that `devicePixelRatio` and `requestAnimationFrame` are not required.

[2020-06-03 10:33] #105 closed

[2020-06-07 09:12] TremayneChrist opened #109 "Improve code hints"
Improve the comments in the code to allow for useful code hints in editors.

[2020-09-16 04:53] trusktr opened #112 "covering more cases"
The README didn't mention when stylsheet content updates, or other similar event, as being detected to trigger resize observations.

I suppose that can get complicated.

[2020-09-16 04:56] trusktr opened #113 "The UMD build doesn't not export the globals as expected"
**Describe the bug**

Loading `https://unpkg.com/@juggle/resize-observer@3.2.0/lib/exports/resize-observer.umd.js` via script tag creates a global `ResizeObserver` variable that is an object containing the `ResizeObserver` constructor.

**To Reproduce**

[code]

live example: https://plnkr.co/edit/pebOym3SOvT0ZABB

**Expected behavior**

It would be great if including it in a script tag put the co

[2020-09-16 05:15] trusktr commented on #113
Ah, here's how to do it: https://github.com/rollup/rollup/issues/494#issuecomment-268243574

[2020-09-16 05:17] trusktr commented on #113
Made a PR, but haven't tested it yet: https://github.com/juggle/resize-observer/pull/114

[2020-09-16 05:42] trusktr commented on #113
Apparently that doesn't work as prescribed. Here's the header it generates:

[code]

which means `{}` gets passed in as `exports`, not `window`. Maybe that Rollup comment is for an older version.

[2020-09-16 05:47] trusktr commented on #113
Oh wait, it works. Just needed to add the `extends: true` option, so that it extends the passed-in object instead of replacing it. Updated the PR.

Now the header looks like this:

[code]

[2020-09-16 06:24] trusktr opened #115 "ResizeObserver loop completed with undelivered notifications (native works fine)"
**Describe the bug**

I get the error

[code]

in Chrome when I have replaced the native ResizeObserver with the polyfill. My code works fine with the native ResizeObserver, and I get the error only with the polyfill.

**To Reproduce**

Go to https://lume.io/docs/#/examples/hello3d

At the top of the example code, before any other code, paste the following:

[code]

The preview on the right of the

[2020-09-16 06:29] trusktr commented on #115
In case it helps, in that particular example, the ResizeObserver code is inside the `<i-scene>` custom element code, and it is observing the size of it's parent which happens to be the `<body>` in that example.

The `<body>` has `body, html {height: 100%; width: 100%}` styling applied to it, so it only changes size when the window resizes.

[2020-09-16 06:48] trusktr commented on #115
I did some investigation.

If I change the code to this:

[code]

the error goes away. This means that somehow reading from the `ResizeObserverEntry` object (`change`) causes the issue. If I just pass random numbers along to the rest of my code in `__checkSize`, then there's no error.

This implies that the problem is indrectly triggered after having read the `change.borderBoxSize[0].inlineSize` a

[2020-09-16 07:03] trusktr commented on #115
Not sure if this helps, but when the error happens (stepping through the code) I see `skippedTargets` contains a single element which happens to be the `<body>`.

Also why may the error happen only when the window gets smaller, but not when it gets bigger? It doesn't seem that size values shrinking vs growing should have any effect on the outcome.

[2020-09-16 11:28] TremayneChrist commented on #112
Hi @trusktr can you expand on this a bit?

- Do you mean when `<style/>` tag content changes it triggers an update? Or,
- Do you mean when an external stylesheet changes, it does not update?

[2020-09-16 18:50] trusktr commented on #112
Both, but actually there's a few ways to trigger style changes. F.e.:

- Changes to `<style>`'s DOM (which results in changing the CSS OM). `MutationObserver` can detect this.
- Changes to CSS OM in `document.styleSheets` (or any `<style>` or `<link>` element's `.sheet` property). These changes do not change DOM content, so are not detectable by `MutationObserver`. For example, try running the fol

[2020-09-17 06:26] trusktr commented on #115
Oops! That example on lume.io, without pasting that code, has a different error if you don't paste the above code: it results in `ResizeObserver loop limit exceeded`, with native `ResizeObserver`, when shrinking the window.

I hadn't pushed my local changes (I have error with native code, error only with the polyfill).  I'll push a reproduction...

[2020-09-17 06:35] trusktr commented on #115
Ok, here's a reproduction you can try in your browser:

- Go to https://gitpod.io/#/https://github.com/lume/lume
- In the terminal pane, run
[code]
- That will start a server, and GitPod (Theia IDE) will ask you if you want to open a preview window
- Then in the sidebar of the preview you can navigate to the "Hello 3D" example
- Shrink the height of the browser window to trigger the error

Note, G

[2020-09-17 07:12] TremayneChrist commented on #112
So to improve the readme - changes could be made to say what the polyfill does not detect. Then it is safe to assume any other modifications which could alter an elements size, will trigger a notification.

Would this help to fix the readme issue?

[2020-09-17 07:20] TremayneChrist commented on #112
Shadow DOM support will come (#42) and I think it's possible without a monkey patch 🤞

[2020-09-17 07:25] TremayneChrist commented on #115
Just quickly before I dive into this. Have you tested on any other browsers, like Firefox? Would be good to see what happens there too.

[2020-09-17 07:40] trusktr commented on #115
Interesting, so on the computer I tested, I was on Chrome 84 Linux, when I get the error on `lume.io` after pasting the code.

On another computer that is still on Chrome 81 macOS, I do not get the error after pasting the code, and it works!

Here's a video in macOS Chrome 81, working:

![macos chrome 81 working](https://user-images.githubusercontent.com/297678/93435475-5e4e9f00-f87e-11ea-8076-6e7

[2020-09-17 07:52] trusktr commented on #115
In Chrome 81, the example has an initial error, because it is trying to access inlineSize on an older ResizeObserverEntry's `contectRect` before the polyfill is applied. In Chrome 84, the example starts off working because it has the newer RO, before the polyfill is applied.

[2020-09-17 08:15] trusktr commented on #112
Curious if it is possible without patching attachShadow. Is there another way to get any document when it is created?

[2020-09-17 08:16] trusktr commented on #112
Yeah probably the list in `Limitations` would be updated.

[2020-09-17 08:55] TremayneChrist commented on #112
Well I was hoping not to, however, that may not be the case. It depends on how many use cases to cover with shadow root vs performance of adding all those listeners and a monkey patch. Plus the patch has to be loaded before any shadow roots are created...

[2020-09-17 19:38] trusktr commented on #112
I think that's fine; as with any polyfill it needs to be loaded first before code uses it. Native ResizeObserver is available before any user code ever runs, so I think it would be fair to tell users to load the polyfill before everything else too.

As far as I know, I think this is the only way to hook onto the shadow roots:

[code]

I wonder how to intercept CSS OM APIs. If the engine calls the

[2020-10-03 19:00] TheDynamicPunk commented on #7
I would like to work on this issue. Could you please guide me as to how I should proceed further as this is my first time contributing to an OSS :)

[2020-10-05 10:27] TremayneChrist commented on #7
Hi @TheDynamicPunk  - you can look at https://github.com/juggle/resize-observer/blob/v3/src/utils/scheduler.ts#L13. It should be a case of adding the correct event names.

[2020-10-05 18:38] TremayneChrist commented on #92
`matchMedia` is only available in IE10 and above, however, we can probably assume that anyone running IE9 is also using an older monitor.

[2020-10-06 00:43] mdingena commented on #92
I wouldn't assume that necessarily, but I'd say that perhaps polyfilling `dppx` isn't strictly a concern for this library. In #64 you're already recommending users of older browser versions to combine other polyfills with yours. Perhaps this is another such case?

[2020-10-06 09:36] TremayneChrist commented on #76
#114 could help with this.

[2020-10-07 09:34] TremayneChrist opened #117 "Improve the accuracy of device-pixel-content-box when moving elements across pixels"
When observing `device-pixel-content-box` incorrect values could be reported. This is due to pixel pixel rounding/snapping when `devicePixelRatio` is greater than 1. This issue is exaggerated when dragging elements across pixels.

_From the spec:_

[2020-11-02 09:29] TremayneChrist commented on #96
Will continue to use the draft specification for now, as it's always ahead.

[2020-11-02 09:29] #96 closed

[2020-11-02 09:45] #64 closed

[2020-11-08 02:38] trusktr commented on #115
@TremayneChrist Hello! Did you get to try reproducing this yet?

[2020-11-12 13:37] TremayneChrist commented on #115
Hi @trusktr I'm now a bit overwhelmed by the amount of info in this issue and what is still valid or not 🙂

I've tried your sample on Chrome 86 macOS and Firefox 82 macOS with no issues and checking back over the code the size must have changed during the observation callback for this error event to be fired. It might be worth stepping through [this code](https://github.com/juggle/resize-observer/

[2020-11-26 14:35] TremayneChrist commented on #115
@trusktr did you manage to take another look?

[2021-02-09 03:02] viglucci opened #118 "Imports must specify file extension when "type": "module""
**Describe the bug**

Attempting to leverage this package with webpack 5 causes an exception during build.

(probably because the origin is a '*.mjs' file or a '*.js' file where the package.json contains '"type": "module"').
The extension in the request is mandatory for it to be fully specified.

Full error:

[code]

**To Reproduce**

Simply importing the lib when using webpack 5 causes the error.

[2021-02-09 11:52] TremayneChrist commented on #118
Thanks for the report @viglucci!

TypeScript and file extensions is a bit of pain in this regard. It will be interesting to follow comments on this, as many packages must be facing this issue with webpack.

I'll have a look and see if anything else can be done.

[2021-02-24 06:47] trusktr commented on #115
I haven't had a chance to circle back to this yet. But ResizeObserver has been out since Safari 13.1 (Safari the new IE) for almost a year now, so maybe I'll just forget about it and hope people are upgraded by the time the project gains traction, if ever.

`this._calcSize` updates the size of an element (`this`) whenever that element's `size` property/attribute changes, or if its parent size prop

[2021-03-01 19:21] TiagoPortfolio opened #121 "[Question] - How does this package compares with que-etc/resize-observer-polyfill ?"
Hi all! :wave:
Thanks for this package and for keeping it updated frequently!

I noticed that this package [resize-observer-polyfill](https://github.com/que-etc/resize-observer-polyfill) is the most popular at the moment but its last release was 2 years ago.

I would like to understand how your package compares with [resize-observer-polyfill](https://github.com/que-etc/resize-observer-polyfill).

[2021-03-02 00:00] mdingena commented on #121
For one, the spec has changed since 2018, so if that package has not been updated since then, their claim to follow the spec is inaccurate.

Arguably the most important missing feature from that package is the ability to return `borderBoxSize` and `contentBoxSize` properties. It only supports the (now legacy) `contentRect` property, which you probably shouldn't use.

[2021-03-02 16:18] TremayneChrist commented on #121
Hi @TiagoPortfolio - great question and test on my memory 😄

I tried to use and improve the resize-observer-polyfill myself, before working on this polyfill, and while it's great for the basics, you can quickly run into problems with it. Especially when you start applying more complex css.

If you're observing a standard box, with basic padding and no scroll regions, resize-observer-polyfill will

[2021-03-04 18:27] TiagoPortfolio commented on #121
Alright @mdingena and @TremayneChrist , thanks a lot for your feedback!
I just learned that we can create discussions so next time I will create a discussion instead of an issue whenever I have questions like this.

Cheers!

[2021-03-04 18:27] #121 closed, assigned to nobody

[2021-04-08 05:45] JayaKrishnaNamburu commented on #118
@viglucci can you confirm if the `"type": "module"` flag is in the project that you are working and trying to use this. Because, in the build of `@juggle/resize-observer@3.3.0` the package.json doesn't contain the flag https://unpkg.com/browse/@juggle/resize-observer@3.3.0/package.json.

This issues happens when the project that you are trying to use `@juggle/resize-observer` uses this. Because, w

[2021-04-08 06:15] JayaKrishnaNamburu commented on #97
Hi @TremayneChrist thanks for the great package 🎉,
I am using this for sometime. But, when i upgraded from `2.3.0` to `3.3.0` the `isElement` check breaks for me. The main difference i can find from the above codesandbox example in description to my use-case is

Example above uses a ReactPortal to render the data, where in this case the `portals` use iframe just as a kind of placeholder to render

[2021-04-09 15:29] TremayneChrist commented on #97
Hey @JayaKrishnaNamburu yep there is a bug here. So many ways to create and take ownership of elements :)

[2021-04-10 05:25] JayaKrishnaNamburu commented on #97
Yes agreed, I will try to take a look if i can fix this check for both the use-cases and general use-case in common 😄

[2021-04-11 13:17] TremayneChrist commented on #97
Great! I'm not sure if you've looked at the code yet but it's probably best to just test if `el instanceof Element` first and return. If not, continue to try and find the document/window scope. This is the current issue for your use case, as the util cannot find out what the `defaultView` is.

[2021-04-11 13:19] TremayneChrist commented on #97
Just seen your PR :)

[2021-04-12 04:13] JayaKrishnaNamburu commented on #97
Yes yes, do you think the PR is a valid fix ? or can i close it :)

[2021-04-12 04:27] minhtranite commented on #97
Hi @JayaKrishnaNamburu your problem on the demo above easy to fix by use iframe document to create element instead of top windown document.

The demo for the fix: https://codesandbox.io/s/observer-330-forked-39xy9?file=/src/App.tsx

[2021-04-12 04:34] JayaKrishnaNamburu commented on #97
Yes, and this behaviour is only in chrome alone 😄

[2021-05-06 11:34] TremayneChrist commented on #115
Will close this as I cannot reproduce without forcefully resizing something during the loop. If you have time to send over a reproducible sample, feel free to reopen this!

[2021-05-06 11:34] #115 closed, assigned to nobody

[2021-07-31 13:35] #7 closed

[2021-07-31 13:36] TremayneChrist commented on #76
Included in v4 preview

[2021-07-31 13:36] #76 closed

[2021-07-31 13:45] TremayneChrist commented on #113
Included in v4 preview

[2021-07-31 13:45] #113 closed, assigned to nobody

[2021-07-31 13:55] TremayneChrist commented on #118
As mentioned by @JayaKrishnaNamburu, this library does not add `"type": "module"` in the `package.json` and could potentially be coming from another library which is using the `ResizeObserver`.

[2021-07-31 13:55] #118 closed, assigned to nobody

[2021-07-31 13:59] TremayneChrist commented on #42
Initial support has been added in the [v4.0.0-1](https://github.com/juggle/resize-observer/releases/tag/v4.0.0-1) release. Feedback welcome!

[2021-07-31 14:08] TremayneChrist commented on #112
Initial Shadow DOM support has been add to the [v4.0.0-1](https://github.com/juggle/resize-observer/releases/tag/v4.0.0-1) release. Hopefully this helps with some things.

I think the only thing left, which seems impossible to support without a monkey-patch, is the in-memory stylesheet changes and adopted stylesheets.

[2021-07-31 17:37] TremayneChrist commented on #112
Added more info in the v4 readme. Will clean up the docs later, but for now, I think it's ok.

@trusktr feel free to open a new issue regarding CSSOM and constructing/adopting stylesheets.

[2021-07-31 17:37] #112 closed, assigned to nobody

[2021-07-31 22:05] viglucci commented on #118
Sorry for the radio silence on this issue. I've since moved on from the project where this issue was occurring, so I wasn't able to continue the conversation. Thanks for closing.

[2021-10-15 12:25] meetdave3 opened #131 "Missing null check"
Hi!

It's been 3 days since i've started using resize-observer on production, and have recently received the following error on Sentry

Referring to: https://github.com/juggle/resize-observer/blob/c92bcde23f23a5bc7b6d6e32449dec1e540c419f/src/utils/queueMicroTask.ts#L4
Error: TypeError Array.forEach(<anonymous>)
Description: Cannot convert undefined or null to object
OS: Windows 10
Browser: Chrome

[2021-10-19 09:31] TremayneChrist commented on #131
Hi @meetdave3,

This is an internal util which is always passed the same internal callbacks - no null check should be required here. Can you see if anything is causing this in the `react-use-measure` library? Maybe something in the RO callback which is created from the lib itself?

Do you have a stack trace to look at?

[2021-10-29 10:19] TremayneChrist commented on #131
@meetdave3 did you have a chace to look into this a bit more?

[2021-11-01 12:53] meetdave3 commented on #131
Hi @TremayneChrist, sorry for the late reply.

Strangely the bug doesn't appear on Sentry any more. Will keep you posted if there's anything more on my side.

Closing this for now.
Thanks for quick reply, appreciate it

[2021-11-01 12:53] #131 closed, assigned to nobody

[2022-02-19 12:26] literalpie commented on #103
Would it be possible to include more information in the error, such as which element the "resize loop" occurred on?

[2022-03-16 22:51] adidahiya commented on #82
@TremayneChrist what was actually fixed about this in v3.0.0? I'm still getting this error with @juggle/resize-observer v3.3.1:

[code]

I'm using Node 12. I'd like to be able to use @juggle/resize-observer without transforming through Babel.

One potential solution might be to add `"type": "module"` to your package.json, so that Node (and in my case Mocha, which I'm using to run the tests which p

[2022-03-18 11:07] TremayneChrist commented on #82
Hi @adidahiya what is the exact version of node you are using?

[2022-03-18 14:23] adidahiya commented on #82
@TremayneChrist node v12.22.7

[2022-08-18 11:40] TremayneChrist opened #134 "[spec] lastReportedSize should initialise with (-1, -1)"
Due to recent changes in the specification. Update the default `lastReportedSize` to `[-1, -1]`.

https://github.com/w3c/csswg-drafts/issues/3664#issuecomment-1218270926

[2022-08-18 19:25] TremayneChrist commented on #134
Fixed in v3.4.0

[2022-08-18 19:25] #134 closed, assigned to nobody

[2022-08-23 23:02] zavarka opened #136 "ResizeObserverEntry type does not match actual payload when using Safari versions 15.3.1 and older"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@juggle/resize-observer@3.3.1` for the project I'm working on.

In Safari 15.3.1 and older versions (macos and ios), the first invocation of the ResizeObserver callback does not have all properties set on the `ResizeObserverEntry`.  The first invocation comes righ

[2022-08-24 03:43] zavarka commented on #136
Sorry, the above change is wrong.  According to https://caniuse.com/?search=borderboxsize, `borderBoxSize` is not supported in Safari 15.3 and below.  Changing the type definition does not fix the issue and is not consistent with the type used in the browsers that do support these properties.  To work around this, the polyfill needs to be installed, even when a native implementation with limited f

[2022-08-24 03:43] #136 closed, assigned to nobody

[2022-10-05 08:02] rosell-dk opened #137 "the >>> and /deep/ combinators have been deprecated. Use :deep() instead"
We get "the >>> and /deep/ combinators have been deprecated. Use :deep() instead" warnings in 3.4.0.

The warning says it all...

It is in this file: /lib/ResizeObserverDetail.js

[2022-10-07 14:38] TremayneChrist commented on #137
Hi @rosell-dk this library doesn't write or modify any CSS. Are you doing anything to the element inside of the resize notification callback? Something that could affect styles?

[2022-10-20 11:11] #137 closed, assigned to nobody